<template>
    <v-footer color="indigo" app>
        <div class="white--text footer ml-2" v-text="$t('footer')">This is your footer</div>
        <v-spacer></v-spacer>
        <div class="white--text version mr-2">{{version}} &copy; 2019</div>
    </v-footer>
</template>

<script lang="ts" src="./jhi-footer.component.ts">
</script>
